.App {
    text-align: center;
}



.buttons {
    margin: 2em;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

body {
    background-color: #322828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

